[Unit]
Description=Gunicorn instance to serve Sigtap
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Sigtap
Environment="PATH=/home/ubuntu/.local/bin:/usr/bin"
MemoryHigh=2G
MemoryMax=3G
ExecStart=/home/ubuntu/.local/bin/uv run gunicorn -w 4 -b 0.0.0.0:5000 --max-requests 1000 --max-requests-jitter 50 --forwarded-allow-ips="*" --access-logfile /home/ubuntu/Sigtap/access.log --access-logformat '%%{CF-Connecting-IP}i %%(l)s %%(u)s %%(t)s "%%(r)s" %%(s)s %%(b)s "%%(f)s" "%%(a)s"' app:app

[Install]
WantedBy=multi-user.target
